.menu {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  padding: 40px 0;
  opacity: 1;
  background-color: $bg-color;
  transition: $transition;
  z-index: 10;
  @extend %flex-center;
  flex-direction: column;
  box-shadow: 0px 14px 19px -7px rgba(0, 0, 0, 0.52);
  @media screen and (min-width: $desktop) {
    display: none;
  }

  & &__link {
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    line-height: 1.2;
    color: var(--gray-dark);
    transition: $transition;
    &:not(:last-child) {
      margin: 0 0 20px 0;
    }
    &:hover {
      color: var(--indigo);
    }
  }
}

.menu--hidden {
  height: 0;
  pointer-events: none;
  opacity: 0;
}