// BREAKPOINTS
$mobile: 425px;
$desktop: 1000px;

// COLORS
$brand: #7D71AA;
$bg-color: #F5F6FD;
$accent: #8354FF;
$accent-complementary: #989CC7;


$border-radius: 0.3rem;
$box-shadow: 0px 0px 37px -10px rgba(0, 0, 0, 0.78);
$transition: all 250ms ease-in-out;