@import './reset';
@import './variables';
@import './placeholders';

@import '../pages/AuthPage/auth-page';
@import '../pages/Homepage/homepage';
@import '../pages/TripsPage/trips-page';
@import '../pages/AdminPage/admin-page';

@import '../components/Logo/logo';
@import '../components/Header/header';
@import '../components/Menu/menu';
@import '../components/Filters/filters';
@import '../components/TripCard/trip-card';
@import '../components/UserCard/user-card';
@import '../components/forms/EmailForm/email-form';
@import '../components/forms/PhoneForm/phone-form';
@import '../components/forms/TripForm/trip-form';

body {
  font-family: 'Mulish', sans-serif;
  box-sizing: border-box;
  color: var(--gray-dark);
}