.filters {
  margin: 0 0 40px 0;

  & &__block {
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 0 0 20px 0;
    border-radius: $border-radius;
    outline: 1px solid $accent;
  }

  & &__label {
    width: 50%;
    display: flex;
    margin: 0;
    flex-direction: column;
  }

  & &__title {
    font-size: 10px;
    color: var(--gray);
  }

  & &__input {
    padding: 5px 0;
    border: none;
    outline: none;
    text-transform: capitalize;
    font-size: 18px;
    &::placeholder {
      font-size: 18px;
      font-weight: 500;
      color: var(--gray);
    }
  }

  & &__date {
    text-align: center;
    color: $accent;
    cursor: pointer;
  }

  & &__picked {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & &__reset-btn {
    width: 10px;
    height: 10px;
    margin: 0 0 0 10px;
    @extend %button-reset;
    svg {
      width: 100%;
      height: 100%;
    }
  }

  & &__rdp {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
}